/*! <style> */ 
h1 {
  text-shadow: 2px 1px 0px #fff, 5px 4px 0px rgba(0,0,0,0.15);
  font:72px/30px Helvetica, Arial, sans-serif;
  font-weight:100;
}
*, *:before, *:after {
-moz-box-sizing: border-box; 
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
aside, .main {
  display:inline-block;
  font-size:0;
  height:100%;
  vertical-align:top;
}
aside > *,
.main > * {
  font-size:16px;
}
aside {
  width:30%;
  background:#f0f0f0;
}
.main {
  width:70%;
  padding:40px;
}
p, 
a {
  font:18px/30px Helvetica, Arial, sans-serif;
}
nav {
  padding:10px;
}
nav a {
  display:block;
  background:steelblue;
  color:white;
  font-size:18px;
  margin:5px;
  padding:5px;
  border-radius:6px;
  
}
footer {
  border-top:1px solid #eee;
  font:18px/30px Helvetica, Arial, sans-serif;
}
/*! </style>  */ 